<tabset [justified]="true">
    <tab heading="Manage applications">
        <mc-apps-settings></mc-apps-settings>
    </tab>
    <tab heading="Manage users" *ngIf="isAdmin">
        <mc-users-settings></mc-users-settings>
    </tab>
</tabset>