<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary add-btn" (click)="editUserModal.show()">Add user</button>
        </div>
    </div>
    <div class="row users-list" *ngIf="users.length">
        <div class="row" style="margin: 0;">
            <div class="col-xs-1"><h4>ID</h4></div>
            <div class="col-xs-3"><h4>Name</h4></div>
            <div class="col-xs-3"><h4>Email</h4></div>
            <div class="col-xs-3"><h4>Role</h4></div>
            <div class="col-xs-2 edit-btns" *ngIf="currentUser.role === 'PUBLISHER' || isAdmin"><h4>Operations</h4>
            </div>
        </div>
        <div class="panel panel-default" *ngFor="let user of users">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1">{{user.id}}</div>
                    <div class="col-xs-3">{{user.name}}</div>
                    <div class="col-xs-3">{{user.email}}</div>
                    <div class="col-xs-3">{{user.role}}</div>
                    <div class="col-xs-2 edit-btns" *ngIf="user.role === 'PUBLISHER' || isAdmin">
                        <button type="button" class="btn btn-warning" (click)="assignUser(user)"
                                (click)="editUserModal.show()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="assignUser(user)"
                                (click)="deleteUserConfirmModal.show()">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #editUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" (onHide)="resetCurrentUser()"
     aria-labelledby="editUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    {{currentUser.id ? 'Edit User #' + currentUser.id : 'Create User'}}
                </h4>
                <button type="button" class="close pull-right" (click)="editUserModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editUserForm="ngForm" (ngSubmit)="editUser(); editUserForm.reset(); editUserModal.hide();"
                      autocomplete="off">
                    <div class="form-group">
                        <label for="userName">User name</label>
                        <input type="text" class="form-control" id="userName" placeholder="Boba Fett" required
                               name="userName" [(ngModel)]="currentUser.name">
                    </div>
                    <div class="form-group">
                        <label for="userEmail">User email address</label>
                        <input type="email" class="form-control" id="userEmail" placeholder="boba.fett@starwars.com"
                               required name="userEmail" autocomplete="off" [(ngModel)]="currentUser.email">
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Default password</label>
                        <input type="password" class="form-control" id="userPassword" placeholder="Password" required
                               name="userPassword" [(ngModel)]="currentUser.password" autocomplete="new-password"
                               [disabled]="currentUser.id">
                    </div>
                    <div class="form-group">
                        <label for="userRole">User role</label>
                        <select id="userRole" class="form-control" required [(ngModel)]="currentUser.role"
                                name="userRole">
                            <option value="undefined" selected disabled>Select role</option>
                            <option [disabled]="!isAdmin" value="ADMIN">Administrator</option>
                            <option [disabled]="!isAdmin" value="ADOPS">Operator</option>
                            <option value="PUBLISHER">Publisher</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success"
                            [disabled]="editUserForm.form.invalid">Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteUserConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     (onHide)="resetCurrentUser()" aria-labelledby=" userDeletionConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirm operation!</h4>
                <button type="button" class="close pull-right" (click)="deleteUserConfirmModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <h4>Are you sure you want to delete {{currentUser.name}}?</h4>
                <form (ngSubmit)="deleteUser(); deleteUserConfirmModal.hide();">
                    <button type="submit" class="btn btn-danger">Yes, finish him!</button>
                </form>
            </div>
        </div>
    </div>
</div>