<div class="container">
    <div class="row" *ngIf="!isAdmin">
        <div class="col-xs-12">
            <button class="btn btn-primary add-btn" (click)="editAppModal.show()">New app</button>
        </div>
    </div>
    <div class="row apps" *ngIf="apps.length">
        <div class="row" style="margin: 0;">
            <div class="col-xs-1"><h4>ID</h4></div>
            <div class="col-xs-3"><h4>Name</h4></div>
            <div class="col-xs-3"><h4>Type</h4></div>
            <div class="col-xs-3"><h4>Content types</h4></div>
            <div class="col-xs-2 edit-btns" *ngIf="!isAdmin"><h4>Operations</h4></div>
        </div>
        <div class="panel panel-default" *ngFor="let app of apps">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1">{{app.id}}</div>
                    <div class="col-xs-3">{{app.name}}</div>
                    <div class="col-xs-3">{{app.type}}</div>
                    <div class="col-xs-3">
                        <p *ngFor="let cType of app.contentTypes">{{cType}}</p>
                    </div>
                    <div class="col-xs-2 edit-btns" *ngIf="!isAdmin">
                        <button type="button" class="btn btn-warning" (click)="selectApp(app)"
                                (click)="editAppModal.show()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="selectApp(app)"
                                (click)="deleteAppConfirmModal.show()">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #editAppModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" (onHide)="resetCurrentApp()"
     (onShow)="getPublishers()" aria-labelledby="editAppModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    {{currentApp.id ? 'Edit App ' + currentApp.name : 'Create App'}}
                </h4>
                <button type="button" class="close pull-right" (click)="editAppModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editAppForm="ngForm" (ngSubmit)="editApp(); editAppForm.reset(); editAppModal.hide();"
                      autocomplete="off">
                    <div class="form-group">
                        <label for="appName">App name</label>
                        <input type="text" class="form-control" id="appName" placeholder="Awesome app" required
                               name="appName" [(ngModel)]="currentApp.name">
                    </div>
                    <div class="form-group">
                        <label for="appType">App type</label>
                        <select id="appType" class="form-control" required [(ngModel)]="currentApp.type"
                                name="appType">
                            <option value="undefined" selected disabled>Select type</option>
                            <option value="IOS">iOS</option>
                            <option value="ANDROID">Android</option>
                            <option value="WEBSITE">Website</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="currentApp.id">
                        <label for="existAppPublisher">App publisher</label>
                        <select id="existAppPublisher" class="form-control"
                                [(ngModel)]="currentApp.publisherId"
                                name="existAppPublisher">
                            <option value="{{currentApp.publisherId}}">{{currentApp.publisherName}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="!currentApp.id && authorizedUser.role === 'ADOPS'">
                        <label for="newAppPublisher">App publisher</label>
                        <select id="newAppPublisher" class="form-control" required [(ngModel)]="currentApp.publisherId"
                                name="newAppPublisher">
                            <option value="undefined" selected disabled>Select a publisher</option>
                            <option *ngFor="let publisher of publishers" value="{{publisher.id}}">{{publisher.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Content types (drag here)</label>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <bs-sortable name="appContentTypes"
                                             [(ngModel)]="currentApp.contentTypes"
                                             itemClass="content-type-item"
                                             itemActiveClass="content-type-item-active"
                                             placeholderItem="Drag here">
                                </bs-sortable>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Available content types</label>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <bs-sortable name="availableContentTypes"
                                             [(ngModel)]="availableContentTypes"
                                             itemClass="content-type-item"
                                             itemActiveClass="content-type-item-active"
                                             placeholderItem="Nothing left">
                                </bs-sortable>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"
                            [disabled]="editAppForm.form.invalid">Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteAppConfirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     (onHide)="resetCurrentApp()" aria-labelledby="deleteAppConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirm operation!</h4>
                <button type="button" class="close pull-right" (click)="deleteAppConfirmModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <h4>Are you sure you want to delete {{currentApp.name}}?</h4>
                <form (ngSubmit)="deleteApp(); deleteAppConfirmModal.hide();">
                    <button type="submit" class="btn btn-danger">Yes, finish him!</button>
                </form>
            </div>
        </div>
    </div>
</div>
