<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin panel</title>
    <link rel="icon" href="//loopme.com/wordpress/wp-content/uploads/2014/07/Loop_Me_Web_Icon_16x16-011.png"
          type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;subset=cyrillic"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="col-xs-5">
            <h1 style="font-weight: 300;">Admin panel</h1>
        </div>
        <div class="col-xs-7">
            <div class="row user-info">
                <div class="col-xs-3 avatar">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <div class="col-xs-5 username">
                    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                    <span th:text="${username}">username</span>
                </div>
                <div class="col-xs-4">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn sign-out-btn">Sign out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 3rem;">
    <mc-app>loading ...</mc-app>
</div>
</body>
</html>