html {
    font-family: 'Roboto', sans-serif;
}

.page-header {
    margin: 0;
    background-color: #ed2c29;
    color: #ffffff;
    padding: 0 15px 9px 15px;
}

.user-info {
    margin-top: 20px;
    float: right;
    cursor: pointer;
    padding-right: 15px;
}

.user-info .avatar {
    font-size: 3rem;
}

.user-info .username {
    margin-top: .5rem;
    font-size: 1.5rem;
}

.sign-out-btn {
    background: transparent;
    font-size: 1.5rem;
    padding-top: 5px;
}

.sign-out-btn:hover {
    color: #ffffff;
}

.content-type-item {
    color: #555;
    border: 1px solid #ccc;
    margin: 7px 0;
    padding: 7px;
    border-radius: 4px;
    cursor: -webkit-grab;
}

.content-type-item-active {
    cursor: -webkit-grabbing;
    background: #eee;
}

.add-btn {
    float: right;
    margin: 15px 0;
}

.edit-btns {
    text-align: right;
}